.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.searchbalk {
  position: relative;
}

.search-input {
  width: 30vw;
  padding: 1vw;
  border: 0.5vw solid #ccc;
  border-radius: 2vw;
  font-size: 2vw;
  outline: none;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1vw 2vw;
  border-radius: 10vw;
  font-size: 3vw;
  cursor: pointer;
  margin-left: 1vw;
}

.search-button:hover {
  background-color: #0056b3;
}
