body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #20B9A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.sign-in {
    background-color: white;
    color: #20B9A8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;  
  }
  
 
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-message img {
    width: 100px;
    margin-bottom: 20px;
}

.error-message h1 {
    font-size: 72px;
    margin: 0;
}

footer {
    background-color: #20B9A8;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer p {
    margin: 5px 0;
}

.footer-left {
    max-width: 50%;
}

.footer-right {
    text-align: right;
}

.footer-right p a {
    color: white;
    text-decoration: none;
}